.eleContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 90% repeat(2, 1fr);
    width: 100vw;
    color: white;
}

.title {
    margin-top: 4rem;
    grid-column: 3/3;
    grid-row: 1/1;
    font-size: 3.2rem;
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.8rem 4rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.eleBody {
    grid-column: 3/3;
    grid-row: 2/2;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}